Found persons:
-----------------------------------------------

<% each( '.persons > *', function( person ){ %>
   <%= person.text( '.name' ) %>
<% }) %>


Test with empty text() call:
(same value as above)
-----------------------------------------------
<% each( '.persons > *', function( person ){ %>
   <%= person.text() %>
<% }) %>